
@model Project_Management_Tool.Models.Comment
@{
    ViewBag.Title = "CreateTask";
    var message = ViewBag.Message;
    var project = ViewBag.Project;
}

@using (Html.BeginForm(new { @role = "form" }))
{
    <div class="col-md-8">
        <h3 class="section-title">Add New Comment</h3>
        <hr><br><br>


        @if (message != null)
        {
            if (message == "Comment add Successfull")
            {
                <div class="well well-lg " style="color: forestgreen">
                    @message
                </div>
            }
            else
            {
                <div class="well well-lg field-validation-error">
                    @message
                </div>
            }

        }




        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label>Select Project</label>
            <select name="ProjectId" id="ProjectId" class="form-control" required>
                <option value="">Select</option>
                @foreach (var item in project)
                {
                    <option value="@item.ProjectId">@item.Project.Name</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Task.ProjectId)
        </div>

        <div class="form-group">
            <label>Select Task</label>
            <select name="TaskId" id="TaskId" class="form-control" required>
                <option value="">Select</option>
            </select>
            @Html.ValidationMessageFor(model => model.TaskId)
        </div>

        <div class="form-group">
            <label>Comment</label>
            @Html.TextAreaFor(model => model.Value, new { @class = "form-control", placeholder = " Comment Here", style = "height: 100px" })
            @Html.ValidationMessageFor(model => model.Value)
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
}




@section Scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document)
            .ready(function () {

                $("#ProjectId")
                    .change(function () {

                        $("#TaskId").empty();

                        $.ajax({
                            type: "POST",
                            url: "/ManageProject/GetTaskByProject",
                            data: '{projectId: "' + $("#ProjectId").val() + '" }',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                $("#TaskId").append('<option value=' + "" + '>' + "Select" + '</option>');
                                $.each(data, function (key, value) {

                                    $("#TaskId").append('<option value=' + value.id + '>' + value.description + '</option>');

                                });
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                $("#TaskId").append('<option value=' + "" + '>' + "Select" + '</option>');
                            }
                        });


                    });
            });
    </script>

}