@using Project_Management_Tool.Models

@{
    ViewBag.Title = "AllProject";
    var allProject = ViewBag.AllProject;
    dynamic user = Session["user"] as User;

}

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <h3 class="section-title">View All Projects in which you are Involved</h3>
    <hr><br><br>
    
    <div class="row">
        <table id="myTable" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code Name</th>
                    <th>Status</th>
                    <th>No of Members</th>
                    <th>No of Tasks</th>
                    
                    <th></th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in allProject)
                {   
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.CodeName</td>
                            <td>@item.Status</td>
                            <td>@item.NOM</td>
                            <td>@item.NOT</td>
                            <td>
                                @Html.ActionLink("Details", "UpdateUser", new { id = item.Id }, new { @class = "btn btn-success" })
                                @if(user != null && user.UserDesignationId == 2)
                                {
                                    @Html.ActionLink("Update Project", "UpdateProjectDetails", new { id = item.Id }, new { @class = "btn btn-info" })
                                }
                                
                            </td>
                            
                        </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTables/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

    </script>


}