@using System.Globalization
@using Project_Management_Tool.Models
@{
    ViewBag.Title = "ProjectDetails";
    var projectDetails = ViewBag.ProjectDetails;
    var assignedMembers = ViewBag.AssignMember;
    var fileNames = ViewBag.FileNames;
    var tasks = ViewBag.Tasks;
    
}

<style>
    .scrollable-menu {
        height: auto;
        max-height: 80px;
        overflow-x: hidden;
    }
</style>

<div class="row">
    <h3 class="section-title">Project Details </h3>
    <hr><br>
    <div class="col-md-4">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" value=@projectDetails.Name disabled>
        </div>

        <div class="form-group">
            <label>Code Name</label>
            <input type="text" class="form-control" value=@projectDetails.CodeName disabled>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="4" disabled> @projectDetails.Description</textarea>
        </div>

        <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" value=@projectDetails.Status disabled>
        </div>

        <div class="form-group">
            <label>Possible Start Date</label>
            <input type="text" class="form-control" value=@projectDetails.StartDate disabled>
        </div>

        <div class="form-group">
            <label>Possible End Date</label>
            <input type="text" class="form-control" value=@projectDetails.EndDate disabled>
        </div>

        <div class="form-group">
            <label>Duration (in Days)</label>
            <input type="text" class="form-control" value=@projectDetails.Duration disabled>
        </div>

        <div class="form-group">
            <label>Uploaded File</label>
            @if (fileNames == null)
            {
                <input type="text" class="form-control" value="No File Uploaded Yet" disabled>
            }
            else
            {
                <ul class="scrollable-menu" role="menu">
                    @foreach (var item in fileNames)
                    {
                        
                        <li>
                            @Html.ActionLink((string)item, "DownloadFile", new { fileName = item, code = projectDetails.CodeName})
                        </li>

                    }

                </ul>
            }
            
                
            
        </div>

        <div class="form-group">
            <label>Assigned Members</label>
            <div style="overflow-y: scroll; height: 160px ">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                        </tr>
                    </thead>
                    <tbody >
                        @foreach (var item in assignedMembers)
                        {
                            <tr>
                                <td>@item.User.Name</td>
                                <td>@item.User.UserDesignation.Type</td>
                            </tr>
                        }
                       
                    </tbody>
                    
                </table>
            </div>
                
        </div>
    </div>

    <div class="col-md-8">
        <h3 class="section-title">All Tasks in this project </h3>
        <hr>

        <div class="row">
            
            <div style="text-align: right">
                @Html.ActionLink("Create New Task", "CreateTask", new { projectId = projectDetails.Id}, new { @class = "btn btn-info" })
                @Html.ActionLink("Add Comment", "AddComment", new { projectId = projectDetails.Id }, new { @class = "btn btn-success" })
            </div>
            
            
            <br>
            <table id="myTable" class="table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Assigned To</th>
                        <th>Priority</th>
                        <th>Assigned By</th>
                        <th>Due Date</th>
                        <th>
                        <th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in tasks)
                    {
                        <tr>
                            <td>@item.Description</td>
                            <td>@item.User.Name</td>
                            <td>@item.Priority</td>
                            <td>@item.AssignedByUser</td>
                            <td>@item.DueDate.ToString("dd/M/yyyy", CultureInfo.InvariantCulture)</td>
                            <td>
                                
                                @Html.ActionLink("View Comments", "ViewComments", new { id = item.Id }, new { @class = "btn btn-info" })
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>


}