@model Project_Management_Tool.Models.ChartModel

@{
    ViewBag.Title = "Home Page";
    var totalUser = ViewBag.TotalUser;
    var totalProject = ViewBag.TotalProject;
    var totalTask = ViewBag.TotalTask;
    var totalComment = ViewBag.TotalCommnet;
    //var userinProject = ViewBag.UserInProject;

}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/css/AdminLTE.css">


<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-xs-6">

            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@totalUser</h3>
                    <p>Total Registered User</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-contacts"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">

            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@totalProject</h3>
                    <p>Total Project</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">

            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@totalTask</h3>
                    <p>Total Task</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">

            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@totalComment</h3>
                    <p>Total Comment</p>
                </div>
                <div class="icon">
                    <i class="ion ion-compose"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            
            <img src="@Url.Action("Chart")" alt="Chart is here" />
        </div>
        <div class="col-md-6">
            
            <img src="@Url.Action("BarChart")" alt="Chart is here" />
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">

            <img src="@Url.Action("PieChartForTaskRatio")" alt="Chart is here" />
        </div>
        <div class="col-md-6">

            <img src="@Url.Action("BarChartForTaskRatio")" alt="Chart is here" />
        </div>

    </div>
    
</div>


@section Scripts{

    


}